In [6]:
#in dictionary data is available in Key:Value

#the keys are immutable and  buts values are mutable

In [7]:
d2={10:"Apple",20:"Mango",30:"Kiwi",40:"Sberry"}

In [8]:
d2[10]

'Apple'

In [9]:
d2[10]="Banana"

In [10]:
d2

{10: 'Banana', 20: 'Mango', 30: 'Kiwi', 40: 'Sberry'}

In [12]:
#clear 
d2={10:"Apple",20:"Mango",30:"Kiwi",40:"Sberry"}
d2.clear()
print(d2)

{}

In [14]:
d2={10:"Apple",20:"Mango",30:"Kiwi",40:"Sberry"}
d2.pop(10)
print(d2)

{20: 'Mango', 30: 'Kiwi', 40: 'Sberry'}

In [15]:
# if we give the incorrect key then we will get key error

In [16]:
d2={10:"Apple",20:"Mango",30:"Kiwi",40:"Sberry"}
d2.popitem()
print(d2)

{10: 'Apple', 20: 'Mango', 30: 'Kiwi'}

In [17]:
#pop item by default it removes the last key and values

In [18]:
#we can do copy opeartions

In [20]:
#get(keys)
d2={10:"Apple",20:"Mango",30:"Kiwi",40:"Sberry"}

print(d2.get(10))

Apple

In [21]:
d1={100:"Rossum",101:"Gosling",102:"Ritche"}

for val in d1.values():
    print(val)

Rossum
Gosling
Ritche

In [22]:
d1={100:"Rossum",101:"Gosling",102:"Ritche"}

for val in d1.keys():
    print(val)

100
101
102

In [23]:
d1={100:"Rossum",101:"Gosling",102:"Ritche"}

for val in d1.items():
    print(val)

(100, 'Rossum')
(101, 'Gosling')
(102, 'Ritche')

In [24]:
d1={100:"Rossum",101:"Gosling",102:"Ritche"}

for k,v in d1.items():
    print(k,"====",v)

100 ==== Rossum
101 ==== Gosling
102 ==== Ritche