In [1]:
#List Category Data Types

In [2]:
#List
#Tuple

#List is the data where its mutable indexing and slicing us allowed

#Tuples is the data type is immutable indexing and slicing is not allowed

In [4]:
# correct conversion of tuple class is

In [5]:
a=[10,20,30,40]

In [6]:
print(a,type(a))

[10, 20, 30, 40] <class 'list'>

In [7]:
t=tuple(a)

In [8]:
print(t,type(t))

(10, 20, 30, 40) <class 'tuple'>

In [9]:
a=10

In [10]:
t=tuple(a)

TypeError: 'int' object is not iterable

In [11]:
t=tuple(a,)

TypeError: 'int' object is not iterable

In [15]:
t=tuple(a, )

TypeError: 'int' object is not iterable

In [16]:
t=(a, )

In [17]:
print(t,type(t))

(10,) <class 'tuple'>

In [18]:
# for correct conversion of tuple of a=10 then t=(a, )

In [19]:
# in the list data type we can have tuple inside and inside tuple there can be a list as well

In [20]:
a=[10,20,30,[10,20,40],(10,20,30)]

In [21]:
print(a,type(a))

[10, 20, 30, [10, 20, 40], (10, 20, 30)] <class 'list'>

In [22]:
a[3][::-1]

[40, 20, 10]

In [23]:
a.sort(reverse=True)

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [24]:
#sort is not applicable not for the mixed list types its

In [25]:
a=[10,30,20,5,3,2]

In [26]:
a.sort()

In [27]:
print(a)

[2, 3, 5, 10, 20, 30]

In [28]:
a.sort(reverse=True)

In [29]:
print(a)

[30, 20, 10, 5, 3, 2]

In [30]:
a.sort(reverse=False)

In [31]:
print(a)

[2, 3, 5, 10, 20, 30]

In [32]:
# by default reverse is False it print asending order or increasing order
#if reverse is false then it will get descending order decreasing order

In [33]:
a.insert(1,100)

In [34]:
print(a)

[2, 100, 3, 5, 10, 20, 30]

In [35]:
#for the tuples only the count and index functions are working

In [36]:
a=(10,20,30,40)

In [38]:
b=a.count(10)
print(b,type(b))

1 <class 'int'>

In [40]:
c=a.index(10)
print(c,type(c))

0 <class 'int'>

In [41]:
# various functions for the list

In [42]:
#append
#sort
#pop(remove the last element)
#pop(index)
#clear()
#extend()
#reverse
#copy

In [43]:
l1=[10,20,30]

In [44]:
l2=l1   #deep copy

In [45]:
l2=l1.copy()

In [48]:
print(l1,type(l1),id(l1))

[10, 20, 30] <class 'list'> 2142542371520

In [49]:
print(l2,type(l2),id(l2))

[10, 20, 30] <class 'list'> 2142542208320

In [50]:
a=[10,20]

In [51]:
b=a.copy()
print(b)

[10, 20]

In [52]:
print(a,type(a),id(a))
print(b,type(a),id(b))

[10, 20] <class 'list'> 2142541430848
[10, 20] <class 'list'> 2142542052992

In [53]:
# this called shallow copy

In [54]:
#count
#index

In [55]:
#del operator 
# based on the index
# based on start:stop
# based on start:stop:index

In [60]:
a=[10,20,30,40]
del a[1]

In [61]:
print(a)

[10, 30, 40]

In [62]:
a.clear()

In [63]:
print(a,type(a),id(a))

[] <class 'list'> 2142542148608

In [70]:
a=[10,30,40,50,60,"rossum","python"]

In [71]:
a.pop()
print(a,type(a),id(a))

[10, 30, 40, 50, 60, 'rossum'] <class 'list'> 2142542772864

In [72]:
a.pop()
print(a,type(a),id(a))

[10, 30, 40, 50, 60] <class 'list'> 2142542772864